name: Python CI

on: [push]

env:
  PYTHONPATH: "src"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]
    environment:
      name: pypi
      url: https://pypi.org/p/mse-lib-crypto
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Package metadata
        id: metadata
        run: |
          echo "PACKAGE_VERSION=$(python setup.py --version)" >> $GITHUB_OUTPUT

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

      - name: Code format with black
        run: |
          black --check $PYTHONPATH

      - name: Import check with isort
        run: |
          isort --check --diff $PYTHONPATH

      - name: Lint check with pylint
        run: |
          pylint --rcfile=setup.cfg $PYTHONPATH

      - name: Lint check with pycodestyle
        run: |
          pycodestyle $PYTHONPATH

      - name: Lint check with pydocstyle
        run: |
          pydocstyle $PYTHONPATH

      - name: Typecheck with MyPy
        run: |
          mypy $PYTHONPATH

      - name: Test with pytest
        run: |
          pytest

      - name: Build package
        if: ${{ startsWith(github.ref, 'refs/tags') && endsWith(github.ref, steps.metadata.outputs.PACKAGE_VERSION) }}
        run: python -m build

      - name: Publish package to PyPi
        if: ${{ startsWith(github.ref, 'refs/tags') && endsWith(github.ref, steps.metadata.outputs.PACKAGE_VERSION) }}
        uses: pypa/gh-action-pypi-publish@release/v1
